@import url(//fonts.googleapis.com/earlyaccess/notosansjp.css);
body {
	font-family: 'Noto Sans JP', sans-serif;
}
header{
  background:#6495ed;
  box-shadow:0 2px 5px rgba(0,0,0,.7);
  left:0;
  line-height:1;
  position:fixed;
  top:0;
  width:100%;
  height:50px;
  z-index:2;
  border: none;
}

#nav-drawer {
  position:fixed;
  top:10px;
  left:10px;
  width: 35px;
  height: 30px;
}

/*チェックボックス等は非表示に*/
.nav-unshown {
  display:none;
}

/*アイコンのスペース*/
#nav-open {
  display: inline-block;
  width: 35px;
  height: 30px;
  vertical-align: middle;
  cursor: pointer;
}

/*ハンバーガーアイコンをCSSだけで表現*/
#nav-open span, #nav-open span:before, #nav-open span:after {
  position: absolute;
  height: 6px;/*線の太さ*/
  width: 35px;/*長さ*/
  border-radius: 3px;
  background: #000;
  display: block;
  content: '';
  cursor: pointer;
}
#nav-open span:before {
  bottom: -12px;
}
#nav-open span:after {
  bottom: -24px;
}

/*閉じる用の薄黒カバー*/
#nav-close {
  display: none;/*はじめは隠しておく*/
  position: fixed;
  top: 50px;/*全体に広がるように*/
  left: 0;
  width: 100%;
  height: Calc(100% - 50px);
  background: black;
  opacity: 0;
  transition: .3s ease-in-out;
}

/*中身*/
#nav-content {
  overflow: auto;
  position: fixed;
  padding: 10px;
  top: 50px;
  left: 0px;
  z-index: 9999;/*最前面に*/
  width: 90%;/*右側に隙間を作る（閉じるカバーを表示）*/
  max-width: 400px;/*最大幅（調整してください）*/
  height: Calc(100% - 50px);
  background: #fff;/*背景色*/
  transition: .3s ease-in-out;/*滑らかに表示*/
  -webkit-transform: translateX(-105%);
  transform: translateX(-105%);/*左に隠しておく*/
}

/*チェックが入ったらもろもろ表示*/
#nav-input:checked ~ #nav-close {
  display: block;/*カバーを表示*/
  opacity: .5;
}

#nav-input:checked ~ #nav-content {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);/*中身を表示（右へスライド）*/
  box-shadow: 7px 0 5px -5px rgba(0,0,0,.7);
}

header ul {
	list-style: none;
	overflow: hidden;
	padding: 0;}
header ul li {
	list-style: none;
	overflow: hidden;
	width: 100%;
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #000;}
header ul li:last-child {border-bottom: 0px;}
header ul li a {	display: block;
	position: relative;
	height: 50px;
	margin: 0;
	color: #000;
	padding: 0px 10px 0px 0px;
	line-height: 50px;
	text-decoration: none;
        text-align: left;
        vertical-align: middle;}

p.margin {margin: 5px;} 

.none_deco{
text-decoration:none;
color:#000;
}

.important_ul{
background:#FFF;
margin-top: 12px;
padding:0px;
box-shadow: 0 0 5px 0 rgba(0,0,0,.5);
}

.important_li{
height:auto;
list-style: none;
}

.news_title{
display: table-cell;
background-color:#DE3E29;
color:#FFFFFF;
padding:10px;
text-align:center;
white-space: nowrap;
vertical-align: middle;
font-weight:700;
}

.important_content{
padding-left:5px;
display: table-cell;
vertical-align: middle;
}

h1 {
  background: #000000;
  padding: 5px;
  margin: 0px;
  color: #fff;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

table th{
background: #595959;
color: #FFF;
font-size:11px;
border: 2px solid #fff;
}

table td{
background: #d9d9d9;
color: #000;
font-size:11px;
border: 2px solid #fff;
}
@media screen and (max-width:420px) {
table th{
font-size:3.6vw;
background: #595959;
color: #FFF;
border: 2px solid #fff;
}

table td{
font-size:3.6vw;
background: #d9d9d9;
color: #000;
}
}


.hptitle{
display: table-cell;
width:100%;
font-size:35px;
height:55px;
font-weight:700;
line-height: 35px;
vertical-align: middle;
}

@media screen and (max-width:740px) {
.hptitle{
display: table-cell;
width:100%;
font-size:4.72vw;	
height:55px;
line-height: 4.72vw;
font-weight:700;
vertical-align: middle;
white-space: nowrap;
}
}

span#number_text{
display:inline-block;
font-size:53px;
margin:0px;
font-weight:700;
color:#ff2f2f;
width:133px;
text-align:right;
line-height: 53px;
vertical-align: bottom;	
white-space: nowrap;
}

.number_title{
margin:0px;
font-size:26px;
font-weight:700;
color:#000;
line-height: 26px;
vertical-align: bottom;	
	white-space: nowrap;
}

@media screen and (max-width:530px) {
	span#number_text{
display:inline-block;
margin:0px;
font-size:10vw;
font-weight:700;
color:#ff2f2f;
width:25vw;
text-align:right;
line-height: 10vw;
vertical-align: bottom;	
white-space: nowrap;
}

.number_title{
margin:0px;
font-size:4.9vw;
font-weight:700;
color:#000;
line-height: 4.9vw;
vertical-align: bottom;	
	white-space: nowrap;
}
}

/* タイトル付　枠　1　*/
.kakomi-box11 {
 position: relative;
 margin: 2em;
 padding: 1.2em;
 color: #000; /* 文章色 */
 background-color: #fff; /* 背景色 */
 border: 3px solid #000; /* 枠線の太さ・色 */
 width: 200px;
}
.title-box11 {
 position: absolute;
 padding: 0.5em;
 left: 20px;
 top: -25px;
 font-weight: bold;
 background-color: #fff; /* タイトル背景色 */
 color: #000; /* タイトル文字色 */
}

p{
margin:0px;
}

#tooltip{
	position: absolute;
	z-index: 10;
	visibility: hidden;
	padding: 10px;
	border: 1px solid #000;
	border-radius: 2px;
	background-color: #FFF;
	color: #333;
	font-size: 13px;
	opacity: 0.85;
display:block;
}

/*タブ切り替え全体のスタイル*/
.tabs {
  margin-top: 50px;
  padding-bottom: 40px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 500px;
  margin: 0 auto;}

/*タブのスタイル*/
.tab_item {
  width: calc(100%/2);
  height: 50px;
  border-bottom: 3px solid #5ab4bd;
  background-color: #d9d9d9;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  color: #565656;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
}
.tab_item:hover {
  opacity: 0.75;
}

/*ラジオボタンを全て消す*/
input[name="tab_item"] {
  display: none;
}

/*タブ切り替えの中身のスタイル*/
.tab_content {
  display: none;
  padding: 40px 40px 0;
  clear: both;
  overflow: hidden;
}


/*選択されているタブのコンテンツのみを表示*/
#all:checked ~ #all_content,
#programming:checked ~ #programming_content,
#design:checked ~ #design_content {
  display: block;
}

/*選択されているタブのスタイルを変える*/
.tabs input:checked + .tab_item {
  background-color: #5ab4bd;
  color: #fff;
}
